html, body {
    background-color: #252525;
    color: #ffffff;
    height: 100%;
}

.navbar {
    margin: 0;
}

.output {
    height: 100%;
    min-height: 500px;
    background-color: #252525;
    color: #ffffff;
    border: 1px solid #000000;
    overflow-y: auto;
    font-size: 16px;
}

#messages {
    min-height: 60px;
}

#wrap {
    height: 100%;
    min-height: 100%;
    margin: 0 auto -80px;
}

.config-dropdown {
    padding: 10px 10px 10px 10px;
}